[submodule "RampSol/lib/forge-std"]
	path = RampSol/lib/forge-std
	url = https://github.com/home/phydy/Work/Personal/forge-std
[submodule "RampSol/lib/openzeppelin-contracts-upgradeable"]
	path = RampSol/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "RampSol/lib/openzeppelin-contracts"]
	path = RampSol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "RampSol/lib/openzeppelin-foundry-upgrades"]
	path = RampSol/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
